<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL0xPljlMWUDlJ94F1WJwsMqw4ORwkBKU</string>
	<key>GCM_SENDER_ID</key>
	<string>899885306576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edialysis.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-dialysis-d9c02</string>
	<key>STORAGE_BUCKET</key>
	<string>e-dialysis-d9c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899885306576:ios:dfb9e27bde94f1c5f304d5</string>
</dict>
</plist>